<!DOCTYPE html>
{% extends 'base.html' %}
<html>
<title>home</title>
<body>
{% block content %}
{% if user.is_authenticated %}
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Created-time</th>
      <th scope="col">Id</th>
    </tr>
  </thead>
  <tbody>
{% if records %}
    {% for record in records %}
    <tr>
        <td>{{ record.first_name }}
        {{ record.last_name }}</td>
        <td>{{ record.email }}</td>
        <td>{{ record.phone }}</td>
        <td>{{ record.address }}</td>
        <td>{{ record.created_at }}</td>
        <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
    </tr>
    {% endfor %}
{% endif %}
  </tbody>
</table>
{% else %}
<p><a href="{% url 'login' %}">Please login you are not authorized be here.</a></p>

{% endif %}
{% endblock %}
</body>
</html>