<!DOCTYPE html>
{% extends 'base.html' %}
<html>
<title>login</title>
<body>
{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Login </h1>
    <br>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <br>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>
{% endblock %}
</body>
</html>